
@import '../../../node_modules/bootstrap/scss/bootstrap.scss';
@import '../../../node_modules/bootstrap/scss/card.scss';





.container-fluid {
  height: 100%;
  display: flex;
  z-index: 9999;
  
}

.card{
  margin-bottom: 50px;
  box-shadow: 0px 10px 15px rgba(89, 87, 87, 0.991); /* Ajoute une ombre */
  width: 35rem;
   background-color: azure;
   height: auto;
 

}

.card-body {
    
    display: flex;
    flex-direction: column;
    justify-content: center;

}

.card-title {
    display: flex;
     justify-content:space-between;
     height:40px;
    
}
.Card.Text {
  font-weight: 700;
}

.arrow_right{
   font-size: 2rem;
    text-decoration: none;
    color :$color-orange;
    display: flex;
    position: relative;
    justify-content: flex-end;
    top: -10px;   
    font-weight: 700;
    z-index: 9999999;
    width: 10%;
    height: 10%;
}
 .arrow_left{
   font-size: 2rem;
    text-decoration: none;
    color :$color-orange;
    display: flex;
    position: relative;
    justify-content: flex-end;
    top: -10px;   
    font-weight: 700;
    z-index: 9999999;
    width: 10%;
    height: 10%;
}
p{   text-align: center;
    color:$color-blueM;
    margin-top: 0;
    font-size: 20px;
    line-height: 2;}

    .button {
      display: flex;
      gap:10px;
    }

.survol:hover,.arrow_right:hover,.arrow_left:hover, .button_circle:hover {
  cursor: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewport="0 0 30 30" style="fill:Lightseagreen;"><circle cx="10" cy="10" r="10"/></svg>') 10 10, auto;
}


.btn-primary{
  background-color:$color-blueM;
  width: 50%;
  
}

.btn-secondary{
  
  width: 50%;
  
}
  @media (max-width: 1600px){
  .card{
    width: 30rem;
  }
  }
  
    @media (max-width: 1399px){
  .card{
    width: 25rem;
  }
  
.arrow_right{
   
    width: 15%;
    height: 15%;
}
.arrow_left{
   
    width: 15%;
    height: 15%;
}
  }
@media (max-width: 500px){
  .card{
    width: 20rem;
  }
  }
@media (min-width: 992px){
.col-lg-4 {
    flex: 0 0 auto;
    width: 50%;
    justify-content: center;
    display: flex;
  }
  }
 
@media (max-width:1236px) {
.col-lg-4 {
    flex: 0 0 auto;
    width: 100%;
    justify-content: center;
    display: flex;
  }}

