$white: #fff;
$black: #535151;

// Colors
$color-blueP: #ECEFF2;
$color-blueM: #0090B8;
$color-blueF: #6f6969;
$color-orange: #F18700;
$color-oreangeP: #F9B34B;
$color-vert: #0d794a;

// Layout
$global-spacing: 1rem;
