.message {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    bottom: 0;
    left: 50%;
    transform: translate(-50%, 0);
    background-color: red;
    color: white;
    width: 200px; /* Ajustez cette valeur */
    height: 200px; /* Doit être la même que la largeur */
    text-align: center; /* Centrer le texte horizontalement */
    white-space: wrap; /* Empêche le texte de passer à la ligne suivante */
    border-radius: 50%;
    margin : 15px;
    animation: rise 8s ease-in-out forwards;
}

.message.success {
    background-color: green;
}

.message.error {
    background-color: red;
}

@keyframes rise {
    0% { bottom: 0; }
    50% { bottom: 30%; }
    60% { bottom: 30%;}
   
    100% { bottom: 100%; }
}
